# The server will also acquire one additional port in order to emulate the Corelation Windows service.
# This secondary port will be the port number specified here plus one, i.e. 3001 in this example. 
PORT=3000

# Replace this value with your internal keystone endpoint. An IP address or DNS alias will also work.
PROXY_ENDPOINT=keystone.mycu.org:8443

# Include any databases/instances you want the server to support. "Live" is disabled to prevent
# accidentally running work-in-process code against production, but any/all other instances are valid.
SUPPORTED_INSTANCES=Test|Train
